<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="图像超分工具.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <图像超分工具.Properties.Settings>
            <setting name="SrcFolder" serializeAs="String">
                <value>.\input_img</value>
            </setting>
            <setting name="DrtFolder" serializeAs="String">
                <value>.\output_img</value>
            </setting>
            <setting name="ShowDot" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="WinWidth" serializeAs="String">
                <value>1132</value>
            </setting>
            <setting name="WinHeight" serializeAs="String">
                <value>634</value>
            </setting>
            <setting name="ListViewWidth" serializeAs="String">
                <value>500</value>
            </setting>
        </图像超分工具.Properties.Settings>
    </userSettings>
</configuration>